*{
	padding: 0;
	margin: 0;
}
ul{
	list-style-type: none;
}
body{
	font-family: 'Berkshire Swash', cursive;
	font-size: 16px;
	color: #fbec77;
	background-color: #B06836;
}
header{
	position: relative;
	width: 100%;
	height: 100px;
	background: url(../images/bgi-header.png) 15% 50% no-repeat, #551202 url(../images/bgi-header.png) 85% 50% no-repeat;
	background-size: 15% 60%;
	text-align: center;
	font-size: 16px;
	border-bottom: 3px solid #0e2514;
}
header h1{
	color: #ffd489;
	font-size: 44px;
	text-shadow: 1px -1px 1px #0e2514, 2px -3px 7px #0e2514, -2px -3px 7px #0e2514, 6px 5px 2px #deb20c, -2px 7px 5px #deb20c, -30px 3px 25px #deb20c;
	letter-spacing: 4px;
	word-spacing: 15px;
	padding-top: 3px;
}
header .location-menu{
	width: 250px;
	color: #e2af38;
	padding: 4px;
	border: 1px solid #0e2514;
	border-radius: 10px;
	box-shadow: 0 2px 10px #0e2514, inset 1px 1px 3px #decda5;
	margin: 0 auto;
	margin-top: 8px;
}
header .location-menu:hover{
	width: 30%;
	height: 200px;
	overflow: visible;
	background-color: #551202;
	border: 3px double #0e2514;
}
header a{
	float: right;
	display: inline-block;
	width: 50px;
	text-decoration: none;
	text-transform: uppercase;
	padding: 8px 10px;
	font-size: 9px;
	font-weight: bold;
	font-family: 'Montserrat', sans-serif;
	transition: 0.4s ease-in-out;
	border-radius: 7px;
	color: #230101;
	background-image: linear-gradient(to top, #cc8509 10%, #551202 90%);
	box-shadow: inset 0 -5px 0 #230101;
}
header a#exit-button{
	position: absolute;
	top: 20px;
	right: 1%;
}
header a#reload-button{
	position: absolute;
	top: 60px;
	right: 1%;
}
header a:visited{
	color: #230101;
	text-decoration: none;
}
header a:hover{
  box-shadow: inset 0 -60px 0 #230101, 2px 2px 3px rgba(0,0,0,0.3);
  color: #DECDA5;
}

main{
	position: relative;
	/*height: 600px;*/
	width: 100%;
	background-color: #B06836;
}
font-family: 'Underdog', cursive; - шрифт для кирилицы
.clearfix{
	width: 100%;
	content: "";
 	display: table; 
 	clear: both;
 }
 .gamer-hidden{
	display: none;
	float: left;
	width: 70px;
	height: 200px;
	color: #0e2514;
	text-align: center;
	background: #ffefc9 url(../images/bg-gamer.png) 50% 50% no-repeat;
	border: 2px solid #304e38;
	margin-top: 50px;
 }
.gamer-hidden .mini-avatar{
	text-align: center;
	height: 35%;
	font-size: 32px;
	padding-top: 5px;
}
.gamer-hidden .mini-avatar img{
	height: 50px;
	border: 1px solid #0e2514;
}
.gamer{/*
	display: none;*/

	float: left;
	width: 250px;
	height: 350px;
	color: #0e2514;
	background: #ffefc9 url(../images/bg-gamer.png) 50% 50% no-repeat;
	background-size: 130% 110%;
	border: 7px outset #304e38;
	margin-top: 50px;
}
.gamer .avatar{
	text-align: center;
	height: 45%;
	font-size: 32px;
	padding: 15px;
}
.gamer .avatar img{
	height: 130px;
	border: 1px solid #0e2514;
	box-shadow: 0.3px 7px 15px #0e2514, -1px 1px 5px #0e2514, 1px 1px 5px #0e2514;
}
.gamers-points{
	width: 100%;
	text-align: left;
	font-size: 18px;
	line-height: 1.8;
}
.gamers-points table{
	table-layout: fixed;
	width: 80%;
	border: none;
	margin: 0 auto;
}
.gamers-points .feature{
	width: 65%;
	text-align: left;
}
.gamers-points .colon{
	width: 2%;
}
.gamers-points .total{
	width: 32%;
	text-align: right;
}
