<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Мир тирети</title>
    <link href="./css/reset.css" rel="stylesheet" type="text/css">
    <link href="./css/style.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Berkshire+Swash" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Underdog" rel="stylesheet" type="text/css">
</head>
<body ng-app="tirety">
<div ng-controller="checklog" ng-init="place = 'tirety'; locationShow = false">
    <header>
        <h1>{{place}}</h1>

        <div ng-controller="userGo" class="location-menu">
            <p ng-click="refrash(); locationShow = !locationShow">Список локаций возле вас</p>

            <div ng-show="locationShow">
                <table>
                    <tr ng-repeat="location in locations">
                        <td>{{location.name}}</td>
                        <td>идти {{location.secondGo}}</td>
                        <td><a href="go-to/{{location.position}}"> Идти </a></td>
                    </tr>
                </table>
            </div>

        </div>

        <a id="exit-button" href="/logout">выход</a>
        <a id="reload-button" href="{{refr}}">обновить</a>
    </header>
    <div class="wrapper gameplayer clearfix">
        <div class="gamer-hidden">
            <div class="mini-avatar">
                <img id="mini-avatar" src="images/mini-avatar.png" alt="mini-hero">
            </div>
        </div>
        <div class="gamer">
            <div class="avatar">
                <img id="avatar" src="image/avatar.png" alt="{{user.name}}">
            </div>
            <!-- можно добавить кнопку для открытия характеристик персонажа -->
            <div class="gamers-points"> <!-- параметры персонажа -->
                <table> <!-- будут вводиться данные через java; the table is needed for changes-->
                    <tr>
                        <td class="feature">gamer-age</td>
                        <td class="colon">:</td>
                        <td class="total">18</td>
                    </tr>
                    <tr>
                        <td class="feature">Денег</td>
                        <td class="colon">:</td>
                        <td class="total">100</td>
                    </tr>
                    <tr>
                        <td class="feature">Здоровье</td>
                        <td class="colon">:</td>
                        <td class="total">100</td>
                    </tr>
                    <tr>
                        <td class="feature">Усталость</td>
                        <td class="colon">:</td>
                        <td class="total">100</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>

    <div ng-if="user.position == 1000100 && user.positionToGo == 1000100" class="location-content">
        здания:<br>
        <a href="locations/bank.html">Банк</a>
    </div>
    <div ng-if="user.position == 950095 && user.positionToGo == 950095">
        <div ng-include="'locations/cropland.htm'" class="location-content"></div>

    </div>
    <div ng-if="user.position == 950093 && user.positionToGo == 950093">
        <div ng-include="'/лес'"></div>

    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<script src="js/angular.js"></script>
</body>
</html>